# List

In [1]:
number = [23,45,56,78]
print(number)

[23, 45, 56, 78]

# apppend()

In [2]:
number.append(90)

In [3]:
print(number)

[23, 45, 56, 78, 90]

# pop()

In [5]:
number.pop()
print(number)

[23, 45, 56, 78]

# Sort()

In [6]:
prices = [400, 800, 100, 400, 200]
prices.sort()
print(prices)

[100, 200, 400, 400, 800]

# len()

In [7]:
print(len(prices))

5

# slicing

In [21]:
print(prices[1:7])

[200, 400, 400, 800]

# List Comprehension

In [29]:
prices = [400, 800, 100, 400, 200]
squares = [i**2 for i in prices]
print(squares)

[160000, 640000, 10000, 160000, 40000]

In [25]:
number = [23,45,56,78]
for i in number:
    print(i)

23
45
56
78

# Practical Example

Average = sum of all values divided by number of values

In [35]:
marks = [85, 99, 92, 78, 96, 88, 91]
average = sum(marks) // len(marks)
print("Average marks:", average)

Average marks: 89

In [36]:
for i in range (1, 10):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [37]:
even_numbers = [i for i in marks if i % 2 == 0]
print("Even marks:", even_numbers)

Even marks: [92, 78, 96, 88]